service: agstamp-backend

provider:
  name: aws
  runtime: nodejs22.x
  region: ap-south-1
  stage: prod

  environment:
    NODE_ENV: ${env:NODE_ENV}
    ADMIN_EMAIL: ${env:ADMIN_EMAIL}
    BREVO_API_KEY: ${env:BREVO_API_KEY}
    COOKIE_DOMAIN: ${env:COOKIE_DOMAIN}
    FRONTEND_URL: ${env:FRONTEND_URL}
    JWTEXPIRY: ${env:JWTEXPIRY}
    JWTSECRET: ${env:JWTSECRET}
    MONGOUSER: ${env:MONGOUSER}
    MONGOPASS: ${env:MONGOPASS}
    S3_BUCKET_NAME: ${env:S3_BUCKET_NAME}
    SENDER_EMAIL: ${env:SENDER_EMAIL}
    SFTP_HOST: ${env:SFTP_HOST}
    SFTP_PASS: ${env:SFTP_PASS}
    SFTP_PORT: ${env:SFTP_PORT}
    SFTP_USER: ${env:SFTP_USER}
    SMTP_HOST: ${env:SMTP_HOST}
    SMTP_PASS: ${env:SMTP_PASS}
    SMTP_PORT: ${env:SMTP_PORT}
    SMTP_SECURE: ${env:SMTP_SECURE}
    SMTP_USER: ${env:SMTP_USER}
    STRIPE_SECRET_KEY: ${env:STRIPE_SECRET_KEY}
    AWS_REGION: ${env:AWS_REGION}
    S3_ACCESS_KEY_ID: ${env:S3_ACCESS_KEY_ID}
    S3_SECRET_ACCESS_KEY: ${env:S3_SECRET_ACCESS_KEY}

functions:
  api:
    handler: server.main
    events:
      - httpApi: '*'